/* ---------- 共用變數（日本風） ---------- */
:root {
  --main-black: #111;
  --text-gray: #666;
  --soft-gray: #f5f5f5;
  --japan-red: #c9171e;
}

/* ---------- Body ---------- */
body {
  margin: 0;
  font-family: "Noto Sans JP", Arial, sans-serif;
  line-height: 1.8;
  color: var(--main-black);
  background: white;
}

/* ---------- Header + Nav ---------- */
header {
  background-image: url("../images/pexels-dsd-143941-3917809.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
  color: rgb(255, 255, 255);
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  display: flex; /* 讓圖片與文字並排 */
  align-items: center; /* 垂直居中對齊 */
  text-decoration: none; /* 去除連結底線 */
  color: #f6f5f5; /* 設定文字顏色 */
}

.logo-img {
  height: 40px; /* 根據需要調整 Logo 大小 */
  margin-right: 10px; /* Logo 與文字的間距 */
  border-radius: 50px;
}

h1 {
  margin: 0; 
  font-size: 24px;
}


/* 半透明 nav（玻璃感） */
nav {
  display: flex;
  gap: 20px;

  background: rgba(115, 115, 115, 0.4); /* 半透明黑 */
  padding: 10px 520px;
  border-radius: 30px;

  backdrop-filter: blur(5px); /* 玻璃模糊感 */
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

/* ---------- Main ---------- */
main {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

main h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

main p {
  font-size: 18px;
  color: var(--text-gray);
}

/* ---------- Cards ---------- */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.card {
  flex: 1;
  padding: 40px;
  background: var(--soft-gray);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* ---------- Footer ---------- */
footer {
  padding: 40px;
  text-align: center;
  font-size: 12px;
  color: var(--text-gray);
  border-top: 1px solid #eee;
}
